//
//  Config.xcconfig
//  dbgram-ios
//
//  Created by darel bitsy on 1/1/19.
//  Copyright © 2019 dbeginc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
FRAMEWORK_SEARCH_PATHS = $(inherited) $PROJECT_DIR/../domain/build/xcode-frameworks
